.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  .modal-content h2{
    color: rgba(0, 0, 0, 0.527);
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .confirm-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .arrowback {
	color:rgba(0, 0, 0, 0.925);
 }